@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery-ui.custom.js")" type="text/javascript"></script>

<script language=javascript>
    $(function () {
        LoadCustomForm();

        $("#CustomForm .ContentItem").live("click", function () {
            LoadCustomFormItem($(this).attr("id"));
        });

        $("#CustomForm .edit").live("click", function () {
            webLay("编辑类目", '@Url.Action("CustomFormEdit")' + "?Id=" + $(this).parent().parent().attr("id"), "600");
            return false;
        });

        $("#CustomForm .del").live("click", function () {
            var Id = $(this).parent().parent().attr("id");
            yonLay("删除", "确认删除吗？", function (flag) {
                if (flag) {
                    addDo("正在处理，请稍后……");
                    $.post('@Url.Action("DeleteCustomForm")', { Id: Id }, function (data) {
                        ReLoad("CustomForm");
                    });
                }
            });
        });

        $("#CustomForm .add").live("click", function () {
            webLay("新建类目", '@Url.Action("CustomFormCreate")', "600");
            return false;
        });

        $(".module_control .btn_add").live("click", function () {
            if ($("#CustomForm .curr").length > 0) {
                webLay("新建自定义表单", '@Url.Action("CustomFormItemCreate")' + "?CustomFormId=" + $("#CustomForm .curr").attr("id"), "700");
                return false;
            }
            else {
                msgLay("错误信息", "请先选择类目");
            }
        });

        $("#CustomFormItem .Remove").live("click", function () {
            var Id = $(this).parent().parent().attr("id");
            yonLay("删除", "确认删除吗？", function (flag) {
                if (flag) {
                    addDo("正在处理，请稍后……");
                    $.post('@Url.Action("DeleteCustomFormItem")', { Id: Id }, function (data) {
                        ReLoad("CustomFormItem");
                    });
                }
            });
        });

        $("#CustomFormItem .EditOn").live("click", function () {
            webLay("编辑自定义表单", '@Url.Action("CustomFormItemEdit")' + "?Id=" + $(this).parent().parent().attr("id"), "700");
            return false;
        });

    });

    function LoadCustomForm() {
        $("#CustomForm").showLoading();
        $.post('@Url.Action("GetCustomFormList")', {}, function (data) {
            $("#CustomForm").html(data);
            if ($("#CustomForm .ContentItem").length > 0) {
                var defaultCustomFormId = $("#CustomForm .ContentItem").eq(0).attr("id");
                LoadCustomFormItem(defaultCustomFormId);
            }
        });
    }

    function LoadCustomFormItem(CustomFormId) {
        $("#CustomForm .ContentItem").removeClass("curr");
        $("#CustomForm .ContentItem[id='" + CustomFormId + "']").addClass("curr");
        $("#CustomFormItem").showLoading();
        $.post('@Url.Action("GetCustomFormItemList")', { CustomFormId: CustomFormId }, function (data) {
            $("#CustomFormItem").html(data);
            $("#CustomFormItem tbody").sortable({ update: function (event, ui) {
                SaveSort(CustomFormId, $(ui.item.context).attr("id"), $(ui.item.context.previousElementSibling).attr("id"));
            }
            });
        });
    }

    function ReLoad(loadType) {
        if (loadType == "CustomForm") {
            LoadCustomForm();
        } else if (loadType == "CustomFormItem") {
            LoadCustomFormItem($("#CustomForm .curr").attr("id"));
        }
    }

    function GoPage(page) {
        ReLoad("CustomFormItem");
    }

    function SaveSort(CustomFormId, SortId, PreviousId) {
        if (PreviousId == null) {
            PreviousId = GuidEmpty();
        }
        $.post("@Url.Action("SaveOrder")", { CustomFormId: CustomFormId, SortId: SortId, PreviousId: PreviousId }, function (JsonData) {
        });
    }
</script>
<div id="iframeContent">
    <div class="center-t">
        <h2 class="t_name">类目管理</h2>
    </div>
     <div class="center-c">
        <div class="module_mod">
            <h3 class="module-t" id="CustomFormZoneTitle">类目</h3>
            <ul id="CustomForm" class="module_content module_modlist"></ul>
            <h3 class="module-t" id="CustomFormItemZoneTitle">自定义表单</h3>
            <div class="module_control">
                <ul class="right">
                    <li><a class="btn_set btn_add" title="新建自定义表单" target="_blank" href="javascript:">新建自定义表单</a></li>
                </ul>
            </div>
            <div id="CustomFormItem" class="module_content">
            </div>
        </div>
    </div>
</div>