@model EmptyProject.Manage.Models.EditTestPaperModel

@{
    ViewBag.Title = "GoodsCreate";
    Layout = "~/Views/Shared/PopupForm.cshtml";
}
<script src="@Url.Content("~/Scripts/xheditor/xheditor-1.1.13-zh-cn.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ValidateExpand.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ajaxfileupload.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.autocomplete.js")" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="@Url.Content("~/css/jquery.autocomplete.css")" />
<script src="@Url.Content("~/Scripts/jquery.livequery.js")" type="text/javascript"></script>

<style>
    select{
  margin: 0;
  vertical-align: middle;
  font-size: 100%;
  border: 1px solid #CCCCCC;
  font-size: 12px;
  padding: 3px;  
  width: 307px;
}
ul.module_form li dl.BgPictureList dd{width:90px;height:120px;float:left; display:inline;padding:1px;margin: 5px;position:relative;background-color:#FFFFFF;}
ul.module_form li dl.BgPictureList dd span,ul.module_form li dl.BgPictureList dd em{display:none}
ul.module_form li dl.BgPictureList dd.curr,ul.module_form li dl.BgPictureList dd:hover {margin:3px;border:2px solid #FF8000;}
ul.module_form li dl.BgPictureList dd.curr span{display:block;width:15px;height:15px;background:url("/images/right.gif") no-repeat;position:absolute;right:1px;bottom:1px;}
ul.module_form li dl.BgPictureList dd:hover em{display:block;width:15px;height:15px;background:url("/images/delete.gif") no-repeat;position:absolute;left:1px;bottom:1px;}
ul.module_form li dl.BgPictureList dd .pic{height: 120px;width: 90px;cursor:pointer}
ul.module_form li dl.BgPictureList label{ text-align: left;width:auto;padding: 0px;}

ul.module_form li dl.SharePictureList dd{width:90px;height:120px;float:left; display:inline;padding:1px;margin: 5px;position:relative;background-color:#FFFFFF;}
ul.module_form li dl.SharePictureList dd span,ul.module_form li dl.SharePictureList dd em{display:none}
ul.module_form li dl.SharePictureList dd.curr,ul.module_form li dl.SharePictureList dd:hover {margin:3px;border:2px solid #FF8000;}
ul.module_form li dl.SharePictureList dd.curr span{display:block;width:15px;height:15px;background:url("/images/right.gif") no-repeat;position:absolute;right:1px;bottom:1px;}
ul.module_form li dl.SharePictureList dd:hover em{display:block;width:15px;height:15px;background:url("/images/delete.gif") no-repeat;position:absolute;left:1px;bottom:1px;}
ul.module_form li dl.SharePictureList dd .pic{height: 120px;width: 90px;cursor:pointer}
ul.module_form li dl.SharePictureList label{ text-align: left;width:auto;padding: 0px;}

ul.module_form li dl.CovermapList dd{width:90px;height:120px;float:left; display:inline;padding:1px;margin: 5px;position:relative;background-color:#FFFFFF;}
ul.module_form li dl.CovermapList dd span,ul.module_form li dl.CovermapList dd em{display:none}
ul.module_form li dl.CovermapList dd.curr,ul.module_form li dl.CovermapList dd:hover {margin:3px;border:2px solid #FF8000;}
ul.module_form li dl.CovermapList dd.curr span{display:block;width:15px;height:15px;background:url("/images/right.gif") no-repeat;position:absolute;right:1px;bottom:1px;}
ul.module_form li dl.CovermapList dd:hover em{display:block;width:15px;height:15px;background:url("/images/delete.gif") no-repeat;position:absolute;left:1px;bottom:1px;}
ul.module_form li dl.CovermapList dd .pic{height: 120px;width: 90px;cursor:pointer}
ul.module_form li dl.CovermapList label{ text-align: left;width:auto;padding: 0px;}
</style>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.EditId)
	<div id="layOver" class="module_layover">
		<div class="module-c">
			<ul class="module_form">
				<li><span class="f_con">@Html.LabelFor(model => model.Title)
						@Html.TextBoxFor(model => model.Title, new { @class = "form_text" })
					</span>@Html.ValidationMessageFor(model => model.Title)</li>
				<li><span class="f_con">@Html.LabelFor(model => model.SubTitle)
						@Html.TextBoxFor(model => model.SubTitle, new { @class = "form_text" })
					</span>@Html.ValidationMessageFor(model => model.SubTitle)</li>
				<li><span class="f_con">@Html.LabelFor(model => model.Covermap)
						@Html.EditorFor(model => model.Covermap, new { @class = "form_text" })
					</span>@Html.ValidationMessageFor(model => model.Covermap)</li>
				<li><span class="f_con">@Html.LabelFor(model => model.BgPicture)
						@Html.EditorFor(model => model.BgPicture, new { @class = "form_text" })
					</span>@Html.ValidationMessageFor(model => model.BgPicture)</li>
				<li><span class="f_con">@Html.LabelFor(model => model.SharePicture)
						@Html.EditorFor(model => model.SharePicture)
					</span>@Html.ValidationMessageFor(model => model.SharePicture)</li>
				<li><span class="f_con">@Html.LabelFor(model => model.BgMusic)
						@Html.EditorFor(model => model.BgMusic)
					</span>@Html.ValidationMessageFor(model => model.BgMusic)</li>
				<li><span class="f_con">@Html.LabelFor(model => model.Category_Id)
						@Html.EditorFor(model => model.Category_Id)
					</span>@Html.ValidationMessageFor(model => model.Category_Id)</li>
				<li><span class="f_con">@Html.LabelFor(model => model.StageInfo_Id)
						@Html.EditorFor(model => model.StageInfo_Id)
					</span>@Html.ValidationMessageFor(model => model.StageInfo_Id)</li>
				<li><span class="f_con">@Html.LabelFor(model => model.Organ_Id)
						@Html.EditorFor(model => model.Organ_Id)
					</span>@Html.ValidationMessageFor(model => model.Organ_Id)</li>
                <li>
                    <span class="f_con">
                        @Html.LabelFor(model => model.CustomFormKeycode)
                        @Html.EditorFor(model => model.CustomFormKeycode)
                    </span>@Html.ValidationMessageFor(model => model.CustomFormKeycode)
                </li>
                <div id="DivExtendedAttributeList"></div>
				<li><span class="f_con">@Html.LabelFor(model => model.RomPersonNum)
						@Html.EditorFor(model => model.RomPersonNum)
					</span>@Html.ValidationMessageFor(model => model.RomPersonNum)</li>
				<li><span class="f_con">@Html.LabelFor(model => model.Specificity)
						@Html.EditorFor(model => model.Specificity)
					</span>@Html.ValidationMessageFor(model => model.Specificity)</li>
				<li><span class="f_con">@Html.LabelFor(model => model.Duration)
						@Html.TextBoxFor(model => model.Duration, new { @class = "form_text" })
					</span>@Html.ValidationMessageFor(model => model.Duration)</li>
				<li><span class="f_con">@Html.LabelFor(model => model.TestForm)
						@Html.TextBoxFor(model => model.TestForm, new { @class = "form_text" })
					</span>@Html.ValidationMessageFor(model => model.TestForm)</li>
				<li><span class="f_con">@Html.LabelFor(model => model.TotalScore)
						@Html.TextBoxFor(model => model.TotalScore, new { @class = "form_text" })
					</span>@Html.ValidationMessageFor(model => model.TotalScore)</li>
                <li><span class="f_con">@Html.LabelFor(model => model.IsRecommond)
						@Html.EditorFor(model => model.IsRecommond)
					</span>@Html.ValidationMessageFor(model => model.IsRecommond)</li>
                <li><span class="f_con">@Html.LabelFor(model => model.IsIntroduction)
						@Html.EditorFor(model => model.IsIntroduction)
					</span>@Html.ValidationMessageFor(model => model.IsIntroduction)</li>
				<li><span class="f_con">@Html.LabelFor(model => model.Introduce)
						@Html.TextAreaFor(model => model.Introduce, new { rows = "20", cols = "80", style = "width: 600px" })
					</span>@Html.ValidationMessageFor(model => model.Introduce)</li>
			</ul>
		</div>
		<div class="module-f"><input type="submit" value='提交' class='form_button button_add' /></div>
	</div>
}
<script language=javascript>
    $("#Introduce").xheditor(true, {
        tools: "simple"
    });
    $(function () {
        CustomFormKeycodeChange($("#CustomFormKeycode").val());

        $("#CategoryId").change(function(){
            $.post("@Url.Action("GetGooodsCategoryRelationGoodsFormId","Goods")",{GoodsCategoryId:$(this).val()},function(data){
                if(data.State){
                    if($("#CustomFormKeycode").val() != data.Message){
                        $("#CustomFormKeycode").val(data.Message);
                        CustomFormKeycodeChange(data.Message);
                    }
                    //$("#CustomFormKeycode").attr("disabled","disabled");
                }else{
                   // $("#CustomFormKeycode").removeAttr("disabled");
                }
            });
        });

        $("#CustomFormKeycode").change(function () {
            CustomFormKeycodeChange($(this).val());
        });

        $(".BgPictureList dd").live("click", function () {
            if ($(".BgPictureList .curr").attr("id") != $(this).attr("id")) {
                //取消之前设置的默认附件
                $.post('@Url.Action("CancelDefault","Attachment")', { Id: $(".BgPictureList .curr").attr("id") }, function () { });
                $(".BgPictureList dd").removeClass("curr");
                $(this).addClass("curr");
                //设置新默认附件
                $.post('@Url.Action("SetDefault","Attachment")', { Id: $(this).attr("id") }, function () { });
            }
        });

        $(".BgPictureList dd em").live("click", function () {
            var Id = $(this).parent().attr("id");
            var _this = $(this);
            yonLay("删除", "确认删除吗？", function (flag) {
                if (flag) {
                    addDo("正在处理，请稍后……");
                    $.post('@Url.Action("DeleteAttachment", "Attachment")', { Id: Id }, function (data) {
                        _this.parent().remove();
                        if ($(".BgPictureList dd").length != 0 && $(".BgPictureList .curr").length == 0) {
                            //自动设置第一项为默认附件
                            $(".BgPictureList dd").eq(0).addClass("curr");
                            $.post('@Url.Action("SetDefault","Attachment")', { Id: $(".BgPictureList dd").eq(0).attr("id") }, function () { });
                        }
                    });
                }
            });
            return false;
        });
    });
    
    function formatItem(row) {
		return row[1];//row[0] + " (<strong>id: " + row[1] + "</strong>)";
	}
	function formatResult(row) {
		return row[0].replace(/(<.+?>)/gi, '');
	}

    function CustomFormKeycodeChange(CustomFormKeycode){
        if (CustomFormKeycode != "") {
            $.post('@Url.Action("GetExtendedAttributes")', { Id: '@Model.EditId', CustomFormKeycode: CustomFormKeycode }, function (data) {
                $("#DivExtendedAttributeList").html(data);

            });
        }
    }
</script>

